{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} | Add Projects {% endblock %}

{% block content %}
{% include "navbar.html" %}

<section id="add_projects" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4>
                            <i class="fa fa-sign-in-alt"></i> New Project
                        </h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{myform.as_table}}
                            </table>
                            <div class="form-group text-center">
                                <button class="btn btn-outline-primary" type="submit">Add
                                    Project</button>
                                <a class=" btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}