{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Portfolio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
</head>

<body>
    {% include "navbar.html" %}

    {% block content %}
    {% endblock content %}

<script src="{% static 'js/portfolio.js' %}"></script>

</body>

</html>