{% extends "base.html" %}
{% block title %}Delete Portfolio Projects{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<br><br><br>
<h1>Delete Project</h1>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h2>Are you sure you want to delete the project "{{ project.title }}?"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'project_detail' project.id %}">Cancel</a>

        </div>
    </form>
</div>
{% endblock content %}