{% extends "base.html" %}
{% block title %}Update Portfolio Projects{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<br><br><br>

<h1>Update Project</h1><br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
            <a class="btn btn-outline-secondary" href="{% url 'project_detail' project.id %}">Cancel</a>
        </div>
    </form>
</div><br>
{% endblock content %}